@model WebApplication2.Makale
@{
    ViewBag.Title = "Detay";
}

@helper SureYaz(DateTime tarih)
    {
TimeSpan sure = DateTime.Now - tarih;
if (sure.TotalMilliseconds < 0)
{
        <div class="time-ago"></div>
}
else if (sure.TotalMilliseconds > 1)
{

if (sure.TotalMinutes < 1)
{
        <div class="time-ago">Şimdi</div>
    }
else if (sure.TotalHours < 1)
{
         <div class="time-ago">@sure.Minutes Dakika Önce</div>
}
else if (sure.TotalDays < 1)
{

        <div class="time-ago">@sure.Hours Saat Önce</div>
}
else
{
       <div class="time-ago">@tarih.ToString("dd.MM.yyyy") tarihinde</div>
}


}
}


<article class="blog-post">
    <header>
        <h2>
            <a href="/Makale/Detay/@Model.id">@Model.Baslik </br> chups lollipop I love lemon drops.</a>
        </h2>
        <ul class="info">
            <li><a href="/Kategori/İndex/@Model.KategoriID">{ @Model.KategoriID }</a></li>
            <li><a href="/Makale/TariheGoreLise?yil=@Model.YayimTarihi.Year&ay=@Model.YayimTarihi.Month">{ @Model.YayimTarihi.ToString("MMMMM yyyy") }</a></li>
            <li><a href="/Yazar/İndex/@Model.YazarID">{ @Model.Kulllanici.Adi @Model.Kulllanici.Soyadi }</a></li>
            <li>{ Yorumlar: <a href="#Yorum">@Model.Yorum.Count()</a> }</li>
        </ul>
    </header>
    <div class="text-editor">
       
        @Model.İcerik 

        <div class="author-wrap">
            <div class="author">
                <figure>
                    <a href="/Yazar/Index/@Model.YazarID">
                        <img src="@Model.Resim.KucukResimYol" alt="#" />
                    </a>
                </figure>
                <div class="name">@Model.Kulllanici.Adi @Model.Kulllanici.Soyadi</div>
                
            </div>
        </div>

    </div>
</article>
<a id="Yorum" />
<div class="comments">
    <h3>
       @Model.Yorum.Count Yorum
    </h3>
    <ul>
        @foreach (var yorum in Model.Yorum)

        {
            <li class="comment">
            <div class="user">
                <figure>
                    <a href="#">
                        <img src="@yorum.Kulllanici.Resim" alt="" />
                    </a>
                </figure>
                <div class="name text-center">
                    <a href="#">@yorum.Kulllanici.Adi @yorum.Kulllanici.Soyadi</a>
                </div>
            </div>
            <div class="comment-box">
                <div class="info">
                    @SureYaz(yorum.EklenmeTarihi)
                </div>
                <div class="text">
                    @yorum.İcerik
                </div>
               
            </div>
        </li>
        }
    </ul>
</div>
@{ 
    WebApplication2.Kulllanici k = new WebApplication2.Kulllanici();
}
@if (ViewBag.Kulllanici != null)
{
    
<div class="write-comment">
    <h3>Yorum Yaz</h3>
    <div class="user">
        <figure>
            <a href="#">
                <img src="@ViewBag.Kulllanici.Resim.KucukResimYol" alt="" />
            </a>
        </figure>
        <div class="name text-center">
            <a href="#">@ViewBag.Kulllani.Adi @ViewBag.Kulllanici.Soyadi</a>
        </div>
    </div>
    <div class="textarea-wrap">
        <input type="hidden" name="YazarId" value="@ViewBag.Kulllanici.id" />
        <input type="hidden" name="MakaleID" value="@Model.id" />
        <form action="/Makale/YorumYaz" method="post">
            <textarea name="icerik" name="comment-message"></textarea>
            <button type="submit" class="send">Gönder</button>
        </form>
    </div>
    <hr>
</div>
}                      